main{
  display: flex;
  justify-content: center;
  background-color: #0F172A;
}

.backgroundRadius{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 53px) ;
  background: radial-gradient( #334F90 0%, #172441 33%, #131D35 43%, #0F172A 79% );
}

.container{
  display: flex;
  gap: 36px;
  flex-direction: column;
  min-width: 400px;
  
  padding-inline: 24px;
  padding-block: 36px;
  background-color: var(--slate-700);
  border-radius: 8px;
}

.form{
  display: flex;
  flex-direction: column;
  gap:36px;
}

.title{
  display: flex;
  gap: 7px;
  flex-direction: row;

  & i{
    font-size: 42px;
    display: flex;
    align-items: center;
    color: var(--offwhite);
  }

  & h1{
    margin: 0px;
    font-size: 42px;
    color: var(--offwhite);
  }
}

.credencial{
  display: flex;
  flex-direction: column;
  gap: 6px;
  & p{
    font-size: 16px;
    color: var(--offwhite);
    margin-bottom: 6px;
    margin-top: 0px;
  }

  & .inputContent{
    display: flex;
    height: 48px;
    gap: 6px;
    align-items: center;
    padding-block: 5px;
    padding-inline: 12px;

    background-color: var(--offwhite);

    border-radius: 3px;

    & i{
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--slate-400);
      
      font-size: 21px;
    }

    & input{
      width: 100%;
      height: 100%;
      font-size: 18px;

      color: var(--slate-600);
      background-color: transparent;

      border: none;
    }

    & input::placeholder{
      display: flex;
      font-size: 18px;

      align-content: center;
      
    }

    & input:focus{
      outline: none;
    }
  }
  
  & .inputContent:has(input:focus) {
    outline: 2px solid var(--blue-500);
  }


  & button{
    width: 100%;
    height: 57px;
    padding-inline: 12px;
    padding-block: 5px;
    font-size: 18px;
    font-weight: bold;             

    background-color: var(--blue-600);
    color: var(--offwhite);

    border: none;
    border-radius: 3px;
  }
  
  & button:hover{
    background-color: var(--blue-700);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 0.5s;
  }
  
  & button:focus{
    outline: none;
  }
  
}

.credencial:has(button:focus) {
  outline: 3px solid var(--blue-600);
  border-radius: 3px;
}

select{
  width: 100%;
  height: 100%;
  font-size: 18px;

  color: var(--slate-600);
  background-color: transparent;

  border: none;
}