p {
  font-size: 16px;
  color: var(--offwhite);
  margin-bottom: 6px;
  margin-top: 0px;
}

i {
  padding: 0px;
  margin: 0px;
  font-size: 42px;
  display: flex;
  align-items: center;
  color: var(--offwhite);
}

h1 {
  margin: 0px;
  font-size: 42px;
  color: var(--offwhite);
}

main{
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #0F172A;
  background: radial-gradient(28.12% 88.89% at 50% 50%, #334F90 0%, #172441 33.4%, #131D35 55.9%, #0F172A 79.4%);
}

.backgroundRadius{
  display: flex;

  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 74vh ;
  /* background: radial-gradient( #334F90 0%, #172441 33%, #131D35 43%, #0F172A 79% ); */
}

.container{
  display: flex;
  gap: 36px;
  flex-direction: column;
  min-width: 400px;
  
  padding-inline: 24px;
  padding-block: 36px;
  background-color: var(--slate-700);
  border-radius: 8px;
}

.form{
  display: flex;
  flex-direction: column;
  gap:36px;
}

.title{
  display: flex;
  gap: 7px;
  flex-direction: row;
}

.credencial{
  display: flex;
  flex-direction: column;
  gap: 6px;


  & .inputContent{
    display: flex;
    height: 48px;
    gap: 6px;
    align-items: center;
    padding-block: 5px;
    padding-inline: 12px;

    background-color: var(--offwhite);

    border-radius: 3px;

    & i{
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--slate-400);
      
      font-size: 21px;
    }
 
    & input{
      width: 100%;
      height: 100%;
      font-size: 18px;
      align-content: center;

      color: var(--slate-600);
      background-color: transparent;

      border: none;
    }

    input[type=file]{
      color: var(--slate-600);
      display: flex;
      flex-direction: row-reverse;
    }

    input[type=file]::file-selector-button{
      background-color: var(--blue-500);
      color: var(--offwhite);
      border: none;
      border-radius: 3px;
      padding-inline: 12px;
      padding-block: 5px;
    }
    input[type=file]::file-selector-button:hover {
      background-color: var(--blue-600);
      transition: 0.3s;
    }

    & input::placeholder{
      display: flex;
      font-size: 18px;

      align-content: center;
      
    }

    & input:focus, select:focus{
      outline: none;
    }
  }
  
  & .inputContent:has(input:focus), .inputContent:has(select:focus){
    outline: 2px solid var(--blue-500);
  }
 
}

select{
  width: 100%;
  height: 100%;
  font-size: 18px;

  color: var(--slate-600);
  background-color: transparent;

  border: none;
}

.invalid-credentials-error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  
  background-color: var(--red-500-20);

  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 3px;
  border: 1px solid var(--red-600);

  & h2{
    font-size: 18px;
    color: var(--red-600);
    margin: 0px;
    font: bold;
  }

  & p{
    font-size: 12px;
    color: var(--red-600);
    margin: 0px;
  }
}

a {
  color: var(--offwhite);
  font-size: 18px;
  margin-top: 18px;
}

button {
  width: 100%;
  height: 57px;
  padding-inline: 12px;
  padding-block: 5px;
  font-size: 18px;
  font-weight: bold;

  background-color: var(--blue-600);
  color: var(--offwhite);

  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: var(--blue-700);
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s;
}

button:focus {
  outline: none;
  outline: 3px solid var(--blue-600);
  border-radius: 3px;
}
