a {
  color: var(--blue-600);
}

h1 {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 0.875rem;
  font: bold;
  margin: 0px;
}

p {
  font-size: 0.75rem;
  margin: 0px;
}

i {
  font-size: 0.875rem;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: center;

  & i {
    font-size: 21px;
    margin: 0px;
  }
  & img{
    height: 21px;
  }
}

.dropdown-container{
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: end;
}

.navbar-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  & a{
    font-size: 24px;
    color: var(--offwhite);
  }
  & a:hover {
    opacity: 1;
  }

  & i:hover{
    cursor: pointer;
  }
}

ul{
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

ul li {
  display: inline-block;
  position: relative;
  & a {
    display: block;
    color: var(--slate-800);
    text-decoration: none;
    text-align: start;
    font-size: 1rem;
  }

  & li + li{
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px solid var(--slate-400);
  }

  & .exit:hover{
    & a, i{
      color: var(--red-600);  
      transition: 0.3s;
    }
  }
  li:hover{
    & i{
      opacity: 0.85;
      cursor: pointer;
    }
  }
  
}

ul.dropdown {
  width: 110px;
  position: absolute;
  display: none;

  background: var(--offwhite);

  border-radius: 3px;
  padding: 10px;
  margin-top: 21px;
  & li {
    display: flex;
    gap: 5px;
    & i{
      color: var(--slate-800);
      font-size: 1rem;
    }
  }

}

ul li:hover ul.dropdown {
  display: block;
}

.train-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: fit-content;

  background-color: var(--slate-800);
  border:1px solid var(--offwhite-10);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.composition{
  display: flex;
  flex-direction: column;
  width: fit-content;

  gap: 12px;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.composition-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.composition-container{
  background-color: var(--slate-600);
  border-radius: 4px;
  gap: 6px;
  & img{
    max-width: 248px;
    max-height: 186px;
  }
}


.train-filter{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;

}

.composition-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.show-composition-content{
  display: flex;
  align-items: center;
}

.title-id{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  padding-block: 6px;
  & h1{
    margin: 0px;
    font-size: 1rem;
  }
  & i{
    font-size: 1rem;
    display: flex;
    align-items: center;

  }
}


.wagon, .cab{
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding-block: 6px;
  padding-inline: 0.5rem;
}

.description{
  display: flex;
  flex-direction: column;

  gap:3px;
  padding-block: 6px;
  & p + h3{
    border-top: 1px solid var(--offwhite-10);
    padding-top: 6px;

  }
}

.container-type + .container-type{
  border-top: 1px solid var(--offwhite-15);
}

/* Railmodel content */

.rail-road-model{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  & img{
    max-width: 55rem;
    border-radius: 4px;
  }
}

.rail-model-container{
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--slate-600);
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 4px;

}

/* control sidebar */

.control-sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--slate-800);
  border:1px solid var(--offwhite-10);
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

/* arrows none */

.cab-id {
  display: flex;
  flex-direction: row;
  padding-inline: 0.75rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 16rem;

  border-bottom: 1px solid var(--offwhite-10);
  padding-block: 0.75rem;

  & input{
    width: 10rem;
    height: 19px;
    color: var(--slate-600);

  }
  & input::placeholder{
    display: flex;
    font: 10px;
    padding-inline: 18px;
  }

  & button{
    width: 28px;
    height: 24px;
    padding-block: 2px;

    background-color: var(--blue-600);
    border-radius: 2px;
    color: var(--offwhite);
    border: 0px;
  }

  & button:hover {
    background-color: var(--blue-700);
  }

}

.panel{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
}

.panel+ .panel{
  border-top: 1px solid var(--offwhite-10);
}

.control-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-list-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0.5rem;
  
  background-color: var(--slate-600);
  border-radius: 4px;
}

.tools-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slider-control{ 

  & input[type=number]{
    width: 42px;
    height: 15px;

    padding-inline: 4px;
    padding-block: 1px;
  }

  & input[type=range]{
    width: 100%;
  }

  & .slider-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.control-option{
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;

  gap: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--offwhite-15);
}

input[type=range]:focus{
  outline: none;

}

.control-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: 1rem;
  & i{
    font-size: 1rem;
  }
}
.control-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.handle-switch{
  display: flex;
  justify-content: space-between;
}

#emergency{
  background-color: var(--red-500);
  border: 0px;
  color: var(--offwhite);
  font: bold;
  font-size: 18px;
  padding-block: 0.5rem;
  border-radius: 4px;
}
#emergency:hover{
  background-color: var(--red-600);
}

#emergency:focus{
  outline: 1px solid var(--red-600);
}
.handle-switch + .handle-switch{
  padding-top: 2px;
}

.icon-button{
  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 0px;
  color: var(--offwhite);
  aspect-ratio: 1/1;

}
.icon-button:focus{
  outline: 0px;
}
.icon-button:hover{
  background-color: var(--offwhite-10);
  border-radius: 4px;
}
input:focus {
  outline: 1px solid var(--blue-600);
  border-radius: 4px;
}

button:focus {
  outline: 1px solid var(--blue-600);
  border-radius: 4px;
}

input[type=number] {
  text-align: center;
}