:root{
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-600-20: #2563EB33;
  --blue-700: #1d4ed8;

  --red-500: #ef4444;
  --red-500-20: #ef444433;
  --red-600: #dc2626;

  --offwhite: #D9D9D9;
  --offwhite-10:#D9D9D91A;
  --offwhite-15: #D9D9D926;

  --slate-400: #94a3b8; 
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-750: #283444;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  --black-1000: #000000;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: var(--slate-900);
  font-family: "Inter", sans-serif;
  color: var(--offwhite);
}

header{
  display: flex;
  padding-left:20px;
  padding-right: 90px;
  background-color: var(--slate-800);
  border-bottom: 1px solid var(--offwhite-10);
  padding-block: 8px;

  & img {
    min-height: 36.13px;
    min-width: 163px;
  }
}

input{
  cursor: pointer;
}

button{
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

a:hover {
  opacity: 0.85;
  text-decoration: none;
}