:root{
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1d4ed8;

  --red-500: #ef4444;
  --red-500-20: #ef444433;
  --red-600: #dc2626;

  --offwhite: #D9D9D9;
  --offwhite-10:#D9D9D91A;
  --offwhite-15: #D9D9D926;

  --slate-400: #94a3b8; 
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-750: #283444;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  --black-1000: #000000;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: var(--slate-900);
  font-family: "Inter", sans-serif;
  color: var(--offwhite);
}

header{
  display: flex;
  padding-left:20px;
  padding-right: 200px;
  background-color: var(--slate-800);
  border-bottom: 1px solid var(--offwhite-10);

  & img {
    height: 36.13px;
    width: 163px;
  }
}

input{
  cursor: pointer;
}

button{
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 150px;
  background: #22438C;
  position: absolute;
  z-index: 999;
  display: none;
  padding: 10px;  
}

ul li a:hover {
  background: #112C66;
}

ul li:hover ul.dropdown {
  display: block;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

