{% extends "base.html" %}

{% block content %}
<div class="about-content">
  <h2>
    Py - UI
  </h2>
  <p>
    O Py - UI é uma aplicação web de controle de maquetes de ferreomodelismo. Ele possui uma interface que
    se comunica via wifi (protocolo MQTT) com placas eletrônicas que controlarão locomotivas e desvios na maquete, e
    receberão dados de sensores.
  </p><br>
  <p>
    Pela interface web é possível controlar locomotivas, desvios e receber dados de sensores em maquetes. O funcionamento
    envolve duas placas eletrônicas, uma que enviará comandos para as locomotivas, que trabalham em um protocolo próprio,
    chamado DCC, e outra placa que lida com os sensores e com os desvios. Ambas comunicam-se via wifi com o servidor.
  </p><br>
  <p>
    Para controlar as locomotivas, comandos DCC são enviados via trilhos e decodificados por um chip dentro da locomotiva
    que é conhecido como decoder. A aplicação faz a conversão dos comandos enviados via web para o protocolo DCC. Essa parte
    é feita pela placa H-888 que nada mais é que um arduino mais uma ESP8266.
  </p><br>
  <p>
    Os desvios e os sensores são conectados a uma placa ESP32, e ela envia e recebe comandos via protocolo MQTT. Na
    aplicação web é possível ver em tempo real os dados dos sensores, e comandar os desvios.
  </p><br>

  <p>
    Os sensores utilizados são LEDs infravermelho, utilizados para saber se há algum trem passando na frente deles em determinado momento,
    e local da maquete. O outro sensor é um RFID que vai ler tags RFID coladas nas locomotivas, desta forma é possível identificar qual
    locomotiva passou por determinado ponto da maquete.
  </p><br>

  <br>
  <div class="img-container">
    <img src="{{ url_for('static', filename='img/model_railroad_picture2.jpg') }}" alt="Foto da maquete" title="model railroad picture">
  </div>
  <br>
  <h3>
    Conteúdo
  </h3>
  <ul>
    <li>Painel de controle de locomotivas</li>
    <li>Monitoramento de sensores</li>
    <li>Controle de desvios</li>
    <li>Modo administrador</li>
    <li>CRUDs:</li>
    <ul>
      <li>Usuários</li>
      <li>Sensores</li>
      <li>Desvios</li>
      <li>Locomotivas</li>
    </ul>
  </ul>

  <h3>
    Ferramentas
  </h3>
  <p>

    Flask, Javascript, HTML, CSS, C
    Protocolo de comunicação MQTT
  </p>

  <h3>Eletrônica</h3>
  <ul>
    <li>Placa ESP32</li>
    <li>Placa H-888 (Arduino + ESP8266)</li>
    <li>Sensor RFID</li>
    <li>Tags RFID</li>
    <li>LEDs emissores e receptores de infravermelho.</li>
    <li>Decoder das locomotivas</li>
  </ul>

  <div class="img-container">
    <img src="{{ url_for('static', filename='img/model_railroad_picture1.jpg') }}" alt="Foto da maquete" title="model railroad picture">
  </div>
  <div>
    <br>
    <a href="{{ url_for('home_page') }}">Voltar à página inicial.</a>
  </div>
</div>
{% endblock %}