<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/list_page.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/credential_form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheets/about_page.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheets/register_sucessfully.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename= 'stylesheets/history_page.css')}}">

  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  {% block title %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="navbar-items">
      <a href="{{ url_for('home_page') }}">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
        <h1>Py - UI</h1>
      </a>
    </div>
  </header>
  <main>
    <div class="backgroundRadius">
      {% block credential %}
      {% endblock %}
    </div>
      {% block content %}
      {% endblock %}
  </main>
</body>

</html>