{% extends "base.html" %}
{% block credential %}
  <table>
    <thead>
      <tr>
        <th>Id<i class="ph ph-map-pin"></i></th>
        <th>Data<i class="ph ph-calendar"></i></th>
        <th>Tipo<i class="ph ph-list"></i></th>
        <th>Valor<i class="ph ph-check-square"></i></th>
        <th>Descrição<i class="ph ph-check-square"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for data in history %}
      <tr>
        <td>{{data[0]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[6]}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <a href="{{ url_for('home_page') }}">Voltar à página inicial</a>
{% endblock %}

