<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home_page_styles.css') }}">
  <script src="{{ url_for('static', filename='javascript/homepage.js') }}"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Home Page</title>
</head>

<body>
  <header>
    <ul>
      <div class="navbar-items">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
        <h1>Py - UI</h1>
      </div>
      <li>
        <div class="dropdown-container">
          <div class="navbar-items">
            <i class="ph-fill ph-user"></i>
            <h1 href="#" class="navbar-items">{{current_user}}</h1>
          </div>
          <ul class="dropdown">
            {% if admin_mode %}
              <li>
                <i class="ph ph-users"></i>
                <a href="{{ url_for('user_controller.list_user') }}">Usuários</a>
              </li>
              <li>
                <i class="ph ph-train"></i>
                <a href="{{ url_for('cab_controller.list_cab') }}">Locomotivas</a>
              </li>
              <li>
                <i class="ph ph-arrows-left-right"></i>
                <a href="{{ url_for('detour_controller.list_detour') }}">Desvios</a>
              </li>
              <li>
                <i class="ph ph-broadcast"></i>
                <a href="{{ url_for('sensor_controller.list_sensor') }}">Sensores</a>
              </li>
            {% endif %}
            <li>
              <i class="ph ph-info"></i>
              <a href=" {{ url_for('about_page') }}">Sobre</a>
            </li>
            <li class="exit">
              <i class="ph ph-sign-out"></i>
              <a href="{{ url_for('login_page') }}">Sair</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
  </header>

  <main>
<!-- composition sidebar -->
    <!-- <div class="train-sidebar">
      <div class="composition">

        <div class="composition-title" id="0">
          <h1>Super Comp</h1>
          <div class="train-filter">
            <button class="icon-button">
              <i class="ph ph-caret-up"></i>
            </button>
          </div>
        </div>

        <div class="composition-container">
          <div class="wagon container-type">
            <div class="composition-header">
              <div class="title-id">
                <i class="ph-fill ph-train-regional"></i>
                <h1>CSX</h1>
              </div>
              <div class="show-composition-content">
                <button class="icon-button">
                <i class="ph ph-caret-up"></i>
                </button>
              </div>
            </div>

            <img src="{{ url_for('static', filename='img/csxWagon.jpg') }}" alt="wagon Image">

            <div class="composition-content" style="display: block;">
              <div class="description">
                <h3>Descrição:</h3>
                <p>Transporte de minérios</p>
              </div>
            </div>
          </div>

          <div class="cab container-type">
            <div class="composition-header">
              <div class="title-id">
                <i class="ph-fill ph-train"></i>
                <h1>333</h1>
              </div>
              <div class="show-composition-content">
                <button class="icon-button">
                  <i class="ph ph-caret-up"></i>
                </button>
              </div>
            </div>
            <img src="{{ url_for('static', filename='./img/rumoLocomotive333.png') }}" alt="cab picture">
            <div class="composition-content">
              <div class="description">
                <h3>Capacidade:</h3>
                <p>Em descida: 35 vagões</p>
                <p>Em nível: 30 vagões</p>
                <p>Em subida: 20 vagões</p>
                <h3>Fabricante:</h3>
                <p>Frateschi</p>
                <h3>Modelo:</h3>
                <p>U20</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> -->

<!-- main content -->
    <div class="change-direction-rail-model">
      <div class="rail-road-model">
        <h1>Maquete do Py-UI</h1>
        <div class="rail-model-container">
          <img class="background" src="{{ url_for('static', filename='./img/background.png') }}" alt="Maquete do Py-UI">

          <svg
            class="outer js-outer-path"
            width="151.59964mm"
            height="81.599663mm"
            viewBox="0 0 151.59964 81.599663"
            version="1.1"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            style="fill:#000000;fill-opacity:0;stroke:#000000;stroke-width:1.857;stroke-dasharray:none;stroke-opacity:1">
            <g transform="translate(-234.51975,-30.181998)">
              <rect
                width="79.742653"
                height="149.74265"
                x="31.110498"
                y="-385.19089"
                ry="39.871326"
                transform="rotate(90)"
              />
            </g>
          </svg>

          <svg
            class="inner js-inner-path"
            width="108.19991mm"
            height="81.535873mm"
            viewBox="0 0 108.19991 81.535873"
            version="1.1"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            style="fill:#000000;fill-opacity:0;stroke:#000000;stroke-width:1.857;stroke-dasharray:none;stroke-opacity:1">
            <g transform="translate(-233.07299,-129.41664)">
              <path
                d="m 340.34436,170.15304 c 0,-21.33433 -16.5895,-38.64996 -37.62458,-39.80791 h -28.84682 c -22.08869,0 -39.87147,17.78226 -39.87147,39.87095 0,21.33434 16.5895,38.64998 37.62458,39.80792 h 28.84682 c 22.08869,0 39.87147,-17.78226 39.87147,-39.87096 z"
              />
            </g>
          </svg>
  <!--
          <div class="ir-sensor" display="none"></div>
          <div class="rfid-sensor" display="none"></div> -->
        </div>
      </div>
    </div>

<!-- control sidebar -->
    <div class="control-sidebar">
      <div class="cab-id">
        <h1>ID</h1>
        <input type="number" name="cab-id" id="cab-id" placeholder="Id locomotiva">
        <button id="confirm-cab-id">
          Ok
        </button>
      </div>
      <div class="cab-control panel">
        <div class="control-header">
          <h1>Locomotiva</h1>
        </div>

        <div class="control-list-content">
          <div class="direction control-option">
            <div class="control-title">
              <div class="control-name">
                <i class="ph-fill ph-speedometer"></i>
                <h3>Direção</h3>
              </div>

              <!-- switch -->
              <label class="text-switch">
                <select name="on-off" id="direction-switch">
                  <option value="1">Frente</option>
                  <option value="0">Trás</option>
                </select>
                <span class="slider"></span>
              </label>
            </div>
            <div class="control-content">
              <div class="slider-control">
                <div class="slider-header">
                  <p>Velocidade:</p>
                  <input type="number" name="speed" id="speed-number-input">
                </div>
                <input type="range" min="0" max="126" value="0" class="slider" id="speed-slider-input">
              </div>
              <div class="slider-control" style="display: none;">
                <div class="slider-header">
                  <p>Aceleração:</p>
                  <input type="number" name="acceleration" id="acceleration-input">
                </div>
                <input type="range" min="0" max="9" value="0" class="slider" id="acceleration-slider-input">
              </div>
            </div>
          </div>

          <div class="light control-option">
            <div class="control-title">
              <div class="control-name">
                <i class="ph-fill ph-lightbulb"></i>
                <h3>Luzes</h3>
              </div>

              <!-- switch -->
              <label class="text-switch">
                <select name="on-off" id="light-usage" style="display: none;">
                  <option value="on">Ligado</option>
                  <option value="off">Desligado</option>
                </select>
                <span class="slider"></span>
              </label>
            </div>

            <div class="light-content">
              <div class="handle-switch">
                <p>Farol</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="front-light">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch">
                <p>Cabine</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="secondary-light">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch" style="display: none;">
                <p>Cabine</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="cabin-light">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="real-time" class="sensor-control panel"></div>
    </div>
    {% block unregistered_locomotive %}
    {% unregistered_locomotive %}
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const speedSlider = document.getElementById('speed-slider-input');
      const speedInputField = document.getElementById('speed-number-input');

      speedSlider.addEventListener('input', function () {
        speedInputField.value = speedSlider.value;
      });

      speedInputField.addEventListener('input', function () {
        let value = parseInt(speedInputField.value);
        if (isNaN(value) || value < 0) {
          value = 0;
        } else if (value > 126) {
          value = 126;
        }
        speedSlider.value = value;
      });
    });
  </script>
</body>

</html>
