<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home_page_styles.css') }}">
  <script src="{{ url_for('static', filename='javascript/homepage.js') }}"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Home Page</title>
</head>

<body>
  <header>
    <ul>
      <div class="navbar-items">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
        <p>Py - UI</p>
      </div>
      <li>
        <div class="dropdown-container">
          <div class="navbar-items">
            <i class="ph-fill ph-user"></i>
            <a href="#" class="navbar-items">{{current_user}}</a>
          </div>
          <ul class="dropdown">
            {% if admin_mode %}
              <li>
                <!-- <i class="ph-fill ph-users"></i> -->
                <a href="{{ url_for('user_blueprint.list_user') }}">Usuários</a>
              </li>
              <li>
                <!-- <i class="ph-fill ph-train"></i> -->
                <a href="{{ url_for('cab_blueprint.list_cab') }}">Locomotivas</a>
              </li>
              <li>
                <!-- <i class="ph ph-arrows-left-right"></i> -->
                <a href="{{ url_for('detour_blueprint.list_detour') }}">Desvios</a>
              </li>
              <li>
                <!-- <i class="ph ph-broadcast"></i> -->
                <a href="{{ url_for('sensor_blueprint.list_sensor') }}">Sensores</a>
              </li>
            {% endif %}
            <li>
              <!-- <i class="ph-fill ph-sign-out"></i> -->
              <a class="exit" href="{{ url_for('login_page') }}">Sair</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
  </header>

  <main>
<!-- composition sidebar -->
    <div class="train-sidebar">
      <div class="composition">

        <div class="composition-title" id="0">
          <h1>Super Comp</h1>
          <div class="train-filter">
            <button class="icon-button">
              <i class="ph ph-caret-up"></i>
            </button>
            <!-- <i class="ph ph-sliders-horizontal"></i> -->
          </div>
        </div>

        <div class="composition-container">
          <div class="wagon container-type">
            <div class="composition-header">
              <div class="title-id">
                <i class="ph-fill ph-train-regional"></i>
                <h1>CSX</h1>
              </div>
              <div class="show-composition-content">
                <!-- if content ! hidden "+" : "-"-->
                <button class="icon-button">
                  <i class="ph ph-minus"></i>
                </button>
                <!-- <i class="ph ph-plus"></i> -->
              </div>
            </div>

            <img src="{{ url_for('static', filename='img/csxWagon.jpg') }}" alt="wagon Image">

            <div class="composition-content" style="display: block;">
              <div class="description">
                <h3>Descrição:</h3>
                <p>Transporte de minérios</p>
              </div>
            </div>
          </div>

          <div class="cab container-type">
            <div class="composition-header">
              <div class="title-id">
                <i class="ph-fill ph-train"></i>
                <h1>333</h1>
              </div>
              <div class="show-composition-content">
                <!-- if content ! hidden "+" : "-"-->
                <!-- <i class="ph ph-plus"></i> -->
                <button class="icon-button">
                  <i class="ph ph-minus"></i>
                </button>
              </div>
            </div>
            <img src="{{ url_for('static', filename='./img/rumoLocomotive333.png') }}" alt="cab picture">
            <div class="composition-content">
              <div class="description">
                <h3>Capacidade:</h3>
                <p>Em descida: 35 vagões</p>
                <p>Em nível: 30 vagões</p>
                <p>Em subida: 20 vagões</p>
                <h3>Fabricante:</h3>
                <p>Frateschi</p>
                <h3>Modelo:</h3>
                <p>U20</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

<!-- main content -->
    <div class="rail-road-model">
      <div class="rail-model-container">
        <h1>Maquete do Roberto</h1>
        <img src="{{ url_for('static', filename='./img/background.png') }}" alt="Maquete do Roberto">
      </div>
    </div>

<!-- control sidebar -->
    <div class="control-sidebar">
      <div class="cab-id">
        <h1>ID</h1>
        <input type="number" name="cab-id" id="cab-id" placeholder="Insira o id da locomotiva">
        <button id="confirm-cab-id">
          Ok
        </button>
      </div>
      <div class="cab-control panel">
        <div class="control-header">
          <h1>Locomotiva - "id"</h1>
          <button class="icon-button">
            <i class="ph ph-minus"></i>
          </button>
        </div>

        <div class="control-list-content">
          <div class="direction control-option">
            <div class="control-title">
              <div class="control-name">
                <i class="ph-fill ph-speedometer"></i>
                <h3>Direção</h3>
              </div>

              <!-- switch -->
              <label class="text-switch">
                <!-- <input type="checkbox" checked id="directionSwitch"> -->
                <select name="on-off" id="direction-switch">
                  <option value="1">Frente</option>
                  <option value="0">Trás</option>
                </select>
                <span class="slider"></span>
              </label>
            </div>
            <div class="control-content">
              <div class="slider-control">
                <div class="slider-header">
                  <p>Velocidade:</p>
                  <input type="number" name="speed" id="speed-number-input">
                </div>
                <input type="range" min="0" max="126" value="0" class="slider" id="speed-slider-input">
              </div>
              <div class="slider-control" style="display: none;">
                <div class="slider-header">
                  <p>Aceleração:</p>
                  <input type="number" name="acceleration" id="acceleration-input">
                </div>
                <input type="range" min="0" max="9" value="0" class="slider" id="acceleration-slider-input">
              </div>
            </div>
          </div>

          <div class="hooter control-option" style="display: none;">
            <div class="control-title">
              <div class="control-name">
                <i class="ph-fill ph-speaker-high"></i>
                <h3>Buzinas</h3>
              </div>

              <!-- switch -->
              <label class="text-switch">
                <!-- <input type="checkbox" id="hooterMainSwitch"> -->
                <select name="on-off" id="hooter-usage">
                  <option value="on">Ligado</option>
                  <option value="off">Desligado</option>
                </select>
                <span class="slider"></span>
              </label>
            </div>
            <div class="hooter-content">
              <div class="handle-switch">
                <p>Buzina</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="buzzer-hooter">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch">
                <p>Sino</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="bell-Hooter">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch">
                <p>Locomotiva</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="cab-hooter">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="light control-option">
            <div class="control-title">
              <div class="control-name">
                <i class="ph-fill ph-lightbulb"></i>
                <h3>Luzes</h3>
              </div>

              <!-- switch -->
              <label class="text-switch">
                <!-- <input type="checkbox" id="lightMainSwitch"> -->
                <select name="on-off" id="light-usage" style="display: none;">
                  <option value="on">Ligado</option>
                  <option value="off">Desligado</option>
                </select>
                <span class="slider"></span>
              </label>
            </div>

            <div class="light-content">
              <div class="handle-switch">
                <p>Farol principal</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="front-light">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch">
                <p>Farol secundário</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="secondary-light">
                  <span class="slider"></span>
                </label>
              </div>

              <div class="handle-switch" style="display: none;">
                <p>Cabine</p>
                <label class="no-text-switch">
                  <input type="checkbox" id="cabin-light">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>

          <button id="emergency" class="emergency" title="Botão de emergência" style="display: none;">
            Parar
          </button>
        </div>
      </div>
<!-- render -->
      <div id="real-time" class="sensor-control panel"></div>
      
      <div class="detour-control panel">
        <div class="control-header">
          <h1>Lista de desvios</h1>
          <button class="icon-button">
            <i class="ph ph-minus"></i>
          </button>
        </div>
        <div class="control-list-content">
          <div class="detour control-option">
            <div class="control-title">
              <div class="control-name">
                <i class="ph ph-arrows-left-right"></i>
                <h3>Desvios</h3>
              </div>
          
              <!-- <label class="text-switch">
                                  <input type="checkbox" id="hooterMainSwitch">
                                  <select name="on-off" id="hooter-usage">
                                    <option value="on">Ligado</option>
                                    <option value="off">Desligado</option>
                                  </select>
                                  <span class="slider"></span>
                                </label> -->
            </div>
            <div class="detour-content">
              {% for turnout in turnouts %}
              <div class="handle-switch">
                <p>{{turnout["id"]}}</p>
                <select name="on-off" class="turnout-direction" data-id="{{turnout['id']}}">
                  <option value="right">Direita</option>
                  <option value="left">Esquerda</option>
                </select>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>  
      </div>
    </div>
  </main>
  <script>
    //Won't work if it's not coded directly into the html file :/
    document.addEventListener('DOMContentLoaded', function () {
      const speedSlider = document.getElementById('speed-slider-input');
      const speedInputField = document.getElementById('speed-number-input');

      speedSlider.addEventListener('input', function () {
        speedInputField.value = speedSlider.value;
      });

      speedInputField.addEventListener('input', function () {
        let value = parseInt(speedInputField.value);
        if (isNaN(value) || value < 0) {
          value = 0;
        } else if (value > 126) {
          value = 126;
        }
        speedSlider.value = value;
      });
    });
  </script>
</body>

</html>