{% extends "base.html" %}

{% block title %}
<title>Lista de Desvios</title>
{% endblock %}

{% block credential %}
<div class="container">
  <div class="title">
    <i class="ph ph-arrows-left-right"></i>
    <h1>Lista de desvios</h1>
  </div>
  <div class="credencial">
    <div class="list-itens">

      {% for id, detour in detours.items() %}
      <article>
        <p>{{detour}}</p>
        <div class="tools">
          <form id="form" method="POST" action="{{ url_for('edit_detour') }}">
          <button class="edit-icon" id=""><!--  colocar id-->
            <i class="ph ph-pencil-line"></i>
          </button>
          <input type="hidden" name="edit_id" id="edit_id" value="{{id}}">
          </form>
          <form id="form" method="POST" action="{{ url_for('try_remove_detour') }}">
          <button class="trash-icon" id=""><!--  colocar id-->
            <i class="ph ph-trash"></i>
            <input type="hidden" name="detour_id" id="detour_id" value="{{id}}">
          </button>
          </form>
        </div>
      </article>
      {% endfor %}

    </div>
  </div>
  <div class="credencial">
    <a href="{{url_for('register_detour')}}">
      <button type="submit" >
        Cadastrar desvios
      </button>
    </a>
  </div>
</div>
<a href="{{ url_for('home_page') }}">Voltar à página inicial</a>
{% endblock %}