<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/credential_form.css') }}">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Login</title>
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
  </header>
  <main>
    <div class="backgroundRadius">
      <div class="container">
        <div class="title">
          <i class="ph-fill ph-user"></i>
          <h1>Login</h1>
        </div>
        {% if error %}
        <div class="invalidUser"> <!-- Coloque o super HTML da brilhante mensagem de erro aqui -->
          <h2>Login Inválido</h2>
          <p>Verifique se o usuário e a senha estão corretos</p>
        </div>
        {% endif %}
        
        <form class="form" id="form" method="post" action="{{ url_for('try_authenticate') }}">
          <div class="credencial">
            <p>Usuário</p>
            <div class="inputContent">
              <i class="ph ph-at"></i>
              <input 
                type="text" 
                id="username" 
                name="username"  
                placeholder="Usuário"
              >
            </div>
          </div> 
        
          <div class="credencial">
            <p>Senha</p>
            <div class="inputContent">
              <i class="ph ph-fingerprint-simple"></i>
              <input 
                type="password"  
                name="password" 
                id="password"
                placeholder="Senha"
              >
            </div>
          </div>

          <div class="credencial">
            <button
              type="submit"
              id="sendCredential"
              name="sendCredential"
              >
              Fazer login
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>