<div class="control-header">
  <h1>Lista de acessórios</h1>
</div>
<div class="control-list-content">
  <div class="sensor control-option">
    <div class="control-title">
      <div class="control-name">
        <i class="ph-fill ph-broadcast"></i>
        <h3>Dados dos sensores</h3>
      </div>
    </div>


    {% for sensor_id in sensors_values %}
    <div class="handle-switch">
      <p>
        {{sensors_values[sensor_id].id}} - {{'RFID' if sensors_values[sensor_id].type == 0 else 'Infravermelho'}}:
        {% if not sensors_values[sensor_id].value %}
          nada passando
        {% else %}
          trem

          {% if sensors_values[sensor_id].type == 0 %}
            {{ sensors_values[sensor_id].value }}
          {% endif %}

           passou em {{sensors_values[sensor_id].location}} às {{sensors_values[sensor_id].time}}
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
<div></div>

<div class="control-list-content">
  <div class="sensor control-option">
    <div class="control-title">
      <div class="control-name">
        <i class="ph ph-arrows-left-right"></i>
        <h3>Dados dos desvios</h3>
      </div>
    </div>

    {% for turnout_id in turnouts_values %}
    <div class="handle-switch">
      <p>Desvio {{turnouts_values[turnout_id].id}}:</p>
      <p>ângulo {{turnouts_values[turnout_id].value}} graus</p>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
