{% extends "base.html" %}

{% block title %}
<title>Cadastrar sensor</title>
{% endblock %}

{% block credential %}
<div class="container">
  <div class="title">
    <i class="ph ph-broadcast"></i>
    <p>
      {% if edit_id < 0 %}
      Cadastrar sensor
      {% else %}
      Editar sensor
      {% endif %}
    </p>
  </div>
  {% if error %}
  <div class="invalid-credentials-error">
    <h1>Erro ao
      {% if edit_id < 0 %}
      Cadastrar
      {% else %}
      Editar
      {% endif %}
      sensor
    </h1>
    <p>Verifique se todos os campos estão preenchidos corretamente.</p>
  </div>
  {% endif %}

  <form class="form" id="form" method="POST"
    action="
      {% if edit_id < 0 %}
      {{ url_for('sensor_controller.try_register_sensor') }}
      {% else %}
      {{ url_for('sensor_controller.try_edit_sensor') }}
      {% endif %}
    ">
    <div class="credencial">
      <p>Id</p>
      <div class="inputContent">
        <i class="ph ph-fingerprint-simple"></i>
        <input type="number" name="id" id="id" placeholder="Id" value="{{data[0]}}">
      </div>
    </div>

    <div class="credencial">
      <p>Nome</p>
      <div class="inputContent">
        <i class="ph ph-aperture"></i>
        <input type="text" name="name" id="name" placeholder="Sensor" value="{{data[1]}}">
      </div>
    </div>

    <div class="credencial">
      <p>Local</p>
      <div class="inputContent">
        <i class="ph ph-hash-straight"></i>
        <input type="text" name="location" id="location" placeholder="Local" value="{{data[2]}}">
      </div>
    </div>

    <div class="credencial">
      <p>Tipo</p>
      <div class="inputContent">
        <i class="ph ph-link-simple"></i>
        <select name="type" id="type">
          <option value="RFID">RFID</option>
          <option value="infrared">Infravermelho</option>
        </select>
      </div>
    </div>

    <div class="credencial">
      <button type="submit" id="sendNewUser" name="sendNewUser">
        {% if edit_id < 0 %}
        Cadastrar
        {% else %}
        Salvar
        {% endif %}
      </button>
    </div>
    <input type="hidden" name="edit_id" id="edit_id" value="{{edit_id}}">
  </form>
</div>
<a href="{{ url_for('sensor_controller.list_sensor') }}">Voltar à lista</a>
{% endblock %}