<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/credential_form.css') }}">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Novo sensor</title>
</head>

<body>
  <header>
    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
  </header>
  <main>
    <div class="backgroundRadius">

      <div class="container">

        <div class="title">
          <i class="ph ph-broadcast"></i>
          <h1>Registrar sensor</h1>
        </div>

        <form class="form" id="form" method="POST" action="{{ url_for('try_register_sensor') }}">
          <div class="credencial">
            <p>Nome do sensor</p>
            <div class="inputContent">
              <i class="ph ph-aperture"></i>
              <input 
                type="text" 
                name="name"
                id="name"
                placeholder="Sensor"
              >
            </div>
          </div>

          <div class="credencial">
            <p>Valor do sensor</p>
            <div class="inputContent">
              <i class="ph ph-hash-straight"></i>
              <input 
                type="text" 
                name="value"
                id="value"
                placeholder="Valor"
              >
            </div>
          </div>

          <div class="credencial">
            <button 
              type="submit" 
              id="sendNewUser" 
              name="sendNewUser"
            >
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>