{% extends "base.html" %}

{% block title %}
<title>Cadastrar desvio</title>
{% endblock %}

{% block credential %}
<div class="container">
  <div class="title">
    <i class="ph ph-arrows-left-right"></i>
    <h1>
      {% if edit_id < 0 %}
      Cadastrar desvio
      {% else %}
      Editar desvio
      {% endif %}
    </h1>
  </div>
  {% if error %}
  <div class="invalid-credentials-error">
    <h2>Erro ao
      {% if edit_id < 0 %}
      Cadastrar
      {% else %}
      Editar
      {% endif %}
      desvio
    </h2>
    <p>Verifique se todos os campos estão preenchidos corretamente.</p>
  </div>
  {% endif %}

  <form class="form" id="form" method="POST"
    action="
      {% if edit_id < 0 %}
      {{ url_for('try_register_detour') }}
      {% else %}
      {{ url_for('try_edit_detour') }}
      {% endif %}
    ">
    <div class="credencial">
      <!--"id": 1,
    "actuator": "SERVO",
    "value": 128-->

      <p>Id</p>
      <div class="inputContent">
        <i class="ph ph-fingerprint-simple"></i>
        <input type="number" name="id" id="id" placeholder="Id" value="{{data[0]}}">
      </div>
    </div>

    <div class="credencial">
      <p>Nome</p>
      <div class="inputContent">
        <i class="ph ph-aperture"></i>
        <input type="text" name="actuator" id="actuator" placeholder="Actuator" value="{{data[1]}}">
      </div>
    </div>

    <div class="credencial">
      <p>Valor</p>
      <div class="inputContent">
        <i class="ph ph-hash-straight"></i>
        <input type="number" name="value" id="value" placeholder="Valor" value="{{data[2]}}">
      </div>
    </div>

    <div class="credencial">
      <button type="submit" id="sendNewUser" name="sendNewUser">
        {% if edit_id < 0 %}
        Cadastrar
        {% else %}
        Salvar
        {% endif %}
      </button>
    </div>
    <input type="hidden" name="edit_id" id="edit_id" value="{{edit_id}}">
  </form>
</div>
<a href="{{ url_for('list_detour') }}">Voltar à lista</a>
{% endblock %}