{% extends "base.html" %}

{% block title %}
  <title>Cadastrar locomotiva</title>
{% endblock %}

{% block credential %}
  <div class="container">
    <div class="title">
      <i class="ph-fill ph-train"></i>
      <h1>Cadastrar locomotiva</h1>
    </div>
    <!-- if error -->
    <div class="invalid-credentials-error">
      <h2>Erro ao cadastrar</h2>
      <p>Verifique se todos os campos estão preenchidos corretamente.</p>
    </div>
    <!-- endif-->

    <form class="form" id="form" method="POST" action="{{ url_for('try_register_cab') }}">
      <div class="credencial">
        <p>Id da locomotiva</p>
        <div class="inputContent">
          <i class="ph ph-fingerprint-simple"></i>
          <input type="number" name="cab_id" id="cab_id" placeholder="Id">
        </div>
      </div>
  
      <div class="credencial">
        <p>Fabricante</p>
        <div class="inputContent">
          <i class="ph ph-hammer"></i>
          <input type="text" id="manufacturer" name="manufacturer" placeholder="Fabricante">
        </div>
      </div>
  
      <div class="credencial">
        <p>Modelo</p>
        <div class="inputContent">
          <i class="ph ph-identification-badge"></i>
          <input type="text" name="model" id="model" placeholder="Modelo">
        </div>
      </div>
  
  
      <div class="credencial">
        <button type="submit" id="sendNewUser" name="sendNewUser">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
  <a href="{{ url_for('home_page') }}">Voltar à página inicial</a>
{% endblock %}