<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/credentialForm.css') }}">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <title>Add. Locomotiva</title>
</head>

<body>
  <header>
    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" title="Py-UI">
  </header>
  <main>
    <div class="backgroundRadius">

      <div class="container">

        <div class="title">
          <i class="ph-fill ph-train"></i>
          <h1>Registrar Locomotiva</h1>
        </div>
        
        <div class="credencial">
          <p>Id da locomotiva</p>
          <div class="inputContent">
            <i class="ph ph-fingerprint-simple"></i>
            <input 
              type="number" 
              name="locomotiveId" 
              id="locomotiveId" 
              placeholder="Id"
            >
          </div>
        </div>

        <div class="form" id="form">
          <div class="credencial">
            <p>Nome do fabricante</p>
            <div class="inputContent">
              <i class="ph ph-hammer"></i>
              <input 
                type="text" 
                id="newUser" 
                placeholder="Fabricante"
              >
            </div>
          </div>

          <div class="credencial">
            <p>Modelo da locomotiva</p>
            <div class="inputContent">
              <i class="ph ph-identification-badge"></i>
              <input 
                type="text" 
                name="locomotiveModel" 
                id="locomotiveModel" 
                placeholder="Modelo"
              >
            </div>
          </div>
          

          <div class="credencial">
            <button 
              type="submit" 
              id="sendNewUser" 
              name="sendNewUser"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>