{% extends "base.html" %}

{% block title %}
  <title>Deletar usuário</title>
{% endblock %}

{% block credential %}
  <div class="container">
    <div class="title">
      <i class="ph-fill ph-user"></i>
      <h1>Deletar usuário</h1>
    </div>
  
    <div class="form" id="form">
      <div class="credencial">
        <p>Nome do usuário</p>
        <div class="inputContent">
          <select name="removeUser" id="usersList">
            <option value="user">Usuario 01</option>
          </select>
        </div>
      </div>
  
      <div class="credencial">
        <button type="submit" id="deleteUser" name="deleteUser">
          Deletar
        </button>
      </div>
    </div>
  </div>
  <a href="{{ url_for('home_page') }}">Voltar à página inicial</a>
{% endblock %}