{% extends "base.html" %}

{% block title %}
  <title>Deletar sensor</title>
{% endblock %}

{% block credential %}
  <div class="container">
    <div class="title">
      <i class="ph ph-broadcast"></i>
      <h1>Deletar sensor</h1>
    </div>
  
    <div class="form" id="form">
      <div class="credencial">
        <p>Nome</p>
        <div class="inputContent">
          <select name="removeSensor" id="sensorList">
            <option value="sensor">Sensor 01</option>
          </select>
        </div>
      </div>
  
      <div class="credencial">
        <button type="submit" id="deleteSensor" name="deleteSensor">
          Deletar
        </button>
      </div>
    </div>
  </div>
  <a href="{{ url_for('home_page') }}">Voltar a página inicial</a>
{% endblock %}